

.bannerTitle {
    font-size: 4rem;
}

@media screen and (min-width: 480px) {
   .bannerTitle{
       margin-left:20px;
       padding:10px;
   }
}

.bannerDesc {
    font-size: 2rem;
}

.span {
    margin-left: 20px;
}

.card {
    cursor: pointer;
}

.card:hover {
    background-color: lightblue;
    border: 2px solid rgb(0, 0, 0);
}

.bIcon {
    width: 100%;
    test-align: center;
    font-size: 40px;
}
